<!DOCTYPE html>
<html>
<head>
  <title>The Adventures of Jan and Rocket</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,400italic,700italic,700|Oxygen:400,700,300' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Orbitron:400,500,700,900' rel='stylesheet' type='text/css'>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
</head>
<body class="page">
	<%= render '/layouts/menu' %>
	<div class="row">
		<div class="left-side small-12 medium-12 large-12 columns">
			<%= yield %>
		</div>
	</div>
</body>